.delivery-options {
    margin-top: 5px;
    margin-bottom: 40px;
    border-radius: 30px;
    border: solid;
    background-color: #E3E3E3;
    width: 600px;
}

.delivery-options th,
.delivery-options td
{
    padding: 5px;
    /*width: 600px;*/
}

.page-section {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 1.05em;
}

.large-section-header {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    margin-bottom: 5px;
    font-family: sans-serif;
}


.sub-section-header {
    margin-top: 10px;
    margin-bottom: 3px;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

.flex {
    display:flex;
    flex-grow:1;
}
.site {
    align-content: baseline;
    text-align: center;
}

.volunteer-button {
    width: 150px;
    height: 50px;
    font-weight: bold;

    background-color: lightyellow;
}


.table-background {
    background-color: #AAA;
    border-radius: 20px;
    width: 600px;
    padding: 20px;
}

.sticky-header {
    position: sticky;
    top: 0px;
    background-color: #F5F5F5;
    border-bottom: 4px #333 ridge;
    padding-bottom: 5px;
}

.paging-div {
    margin-top: 5px;
    margin-bottom: 10px;
}

.volunteer-button-row {
    justify-content: center;
    padding-bottom: 10px;
}

.item-column {
    align-content: flex-start;
}

.page-numbers-div {
}

.pagination {
    text-align: center;
}

.pagination a {
    color: #33B;
    float: left;
    padding: 4px;
    min-width: 14px;
    margin-bottom: 4px;
    border: 1px solid #ddd; /* Gray */

    text-decoration: none;
    font-family: sans-serif;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.current-page a {
    font-weight: bold;
    background-color: #CCC;
}

.hours {
    max-width: 250px;
}

.hide-filters {
    font-size: 0.7em;
    color: blue;
    cursor: pointer;
}

#filters {
    margin-top: -5px;
    margin-bottom: 1px;
    align-items: center;
}

.filters-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 20px;
}

#site {
    width: 150px;
    margin-right: 10px;
}

#county {
    width: 100px;
    margin-right: 5px;
}

.no-routes {
    margin-top: 30px;
    margin-left: 120px;
    font-size: 2.0em;
    font-weight: bold;
    font-family: sans-serif;
}

.clickable {
    color: #113;
    text-decoration: underline;
    cursor: pointer;
}

.clear-button {
    margin-left: 10px;
    margin-right: 15px;
}
