#confirm-code {
    width: 150px;
    height: 30px;
    font-size: 26px;
}

#phone-number {
    width: 180px;
    height: 30px;
    font-size: 26px;
}

#password {
    width: 200px;
    height: 30px;
    font-size: 20px;
}


.phone-input-form {
    margin: 20px;
    align-items: center;
}

.padding {
    margin-right: 10px;
}

.confirm-code-form {
    margin: 15px;
    align-items: center;
}

.left-padded,
.set-password-form {
    margin-left: 15px;
}

.submitButton,
.sendSmsButton {
    width: 100px;
    height: 30px;
    background-color: lightyellow;
}

.submitButton:hover,
.sendSmsButton:hover {
    background-color: yellow;
}

.submitButton:active,
.sendSmsButton:active {
    background-color: lightsalmon;
}

.showPasswordLabel {
    font-size: 0.85em;
}

