.gfx-content {
    margin-left: 15px;
    outline: solid;
    display: inline-block;
}

h2 {
    margin-top: 75px;
}

h3 {
    margin-left: 50px;
}

.toc {
    margin-top: 15px;
}

.footer {
    margin-bottom: 70px;
}


