.larger-font {
    font-size: 1.4em;
}

.partner-logo {
    float: left;
    margin-right: 25px;
}

.about-header {
    margin-left: 10px;
}

h4 {
    margin-bottom: 0px;
    margin-top: 0px;
}

h3 {
    text-align: center;
}
