.disabled {
  font-style: italic;
  color: gray;
}

.update-confirm-div {
  display: none;
  font-style: italic;
  font-size: 0.95em;
  width: 150px;
}

.table-title {
  text-align: left;
}

.inventoryTable {
  width: 600px;
}

tbody#inventoryTableBody tr {
  outline: solid black thin;
}

tbody#inventoryTableBody td {
  vertical-align: top;
}

#error-div {
  z-index: 99;
  position: sticky;
  width: 100%;
  height: 100px;
  border: 1px solid red;
  color: #FCFCFD;
  background: #A33;
  padding-right: 10px;
  display: none;
  top: 0px;
}

#addItemResult {
  color: red;
}

.inventoryLabel {
  font-size: 1.7em;
}

.item-status-div {
  margin-bottom: 5px;
  font-size: 1.5em;
}

#newItemTable {
  width: 600px;
}

#add-item-button {
  width: 130px;
  font-size: 1.1em;
}

.new-item-status-div {
  font-size: 1.1em;
}
