.site-select {
    width: 200px;
    font-size: 1.25em;
    margin-top: 10px;
    height: 30px;
    position: relative;
    top: 2px;
}

#site-select-div {
    padding-top: 20px;
    padding-left: 60px;
    margin-bottom: 2rem;
}


#select-label {
    font-size: 1.4em;
}

.button-blurb {
    padding-left: 20px;
    padding-bottom: 5px;
}
