.radioButtonControl {
    margin-bottom: 15px;
}

.statusArea {
    width: 700px;
}

.statusControls {
    width: 300px;
}

.siteStatusUpdateButton {
    margin-left: 10px;
}

.statusCaption {
    padding-left: 50px;
}

h2 {
    /*padding-left: 20px;*/
    margin-bottom: 5px;
}

.data-entry-div {
    padding-left: 20px;
}

.very-wide-button {
    width: 350px;
}
