.delivery-options th,
.delivery-options td
{
    border: solid 1px gray;
    border-spacing: 0;
    border-collapse: collapse;
    padding: 5px;
    outline: solid;
}

.page-section {
    margin-bottom: 5px;
    margin-top: 5px;
    /*background-color: #F0F0F0;*/
    /*border: solid #111;*/
    /*border-radius: 20px;*/
    font-size: 1.1em;
    /*max-width: 500px;*/
}

.left-column {
    margin-right: 10px;
}

.narrow-sub-section {
    width: 165px;
    text-align: center;
}

.large-section-header {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    margin-bottom: 5px;
    font-family: sans-serif;
}


.sub-section-header {
    margin-top: 10px;
    margin-bottom: 3px;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

.flex {
    display:flex;
    flex-grow:1;
}
.site {
    align-content: baseline;
    text-align: center;
}

.volunteer-button {
    width: 150px;
    height: 50px;
    font-weight: bold;

}