.smaller {
    font-size: smaller;
}

.update-button {
    margin-top: 20px;
    height: 40px;
}

.form-header {
    font-weight: bold;
    margin-top: 10px;
}

dt {
    font-weight: bold;
}

h3 {
    font-family: sans-serif;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 50px;
}

.inactive-message {
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.35em;
}

.confirmation-div {
    margin-top: 10px;
    justify-content: center;
}
