.smaller {
    font-size: smaller;
}

.update-button {
    margin-top: 20px;
    height: 40px;
    width: 100%;
}

.update-button:active {
    background-color: #FF0;
}

.update-button:hover {
    background-color: lightyellow;
}

.form-header {
    font-weight: bold;
    margin-top: 10px;
}

dt {
    font-weight: bold;
}

h3 {
    font-family: sans-serif;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 50px;
}

.inactive-message {
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.35em;
}

.confirmation-div {
    margin-top: 10px;
    justify-content: center;
}

.route-container {
    border: 2px solid black;
    border-radius: 20px;
    background-color: #f5f5f5;
    white-space: nowrap;
}

.route-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
    width: 175px;
    font-size: 1.25rem;
}

#routes-filter-container {
    width: 500px;
    margin: 0px 30px 0px 30px;
    padding: 5px 10px 5px 10px;
}

@media only screen and (max-width: 768px) {
    #routes-filter-container {
        margin: 0px 10px 0px 10px;
        width: 100%;
        flex-direction: column;
    }
}
