html {
    padding: 15px;
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
}

dt {
    grid-column-start: 1;
    margin: 5px;
}

dd {
    grid-column-start: 2;
    margin: 5px;
}

.back-link {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 0.9em;
}

.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 300px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 300px;
}

.gmap_iframe {
    width: 100% !important;
    height: 300px !important;
}

@media only screen and (max-width: 632px) {
    dl {
        grid-template-columns: 2fr 1fr;
    }
}

.detail-value {
    font-weight: bold;
}

.edit-link {
    font-size: 0.8em;
}

.wider-column {
    width: 200px;
}

.small-right-margin {
    margin-right: 5px;
}

.table-container {
    width: 100%;
    overflow-y: auto;
}

table.needs-matching th,
table.needs-matching td,
.delivery-table th,
.delivery-table td {
    border: solid 1px gray;
    border-spacing: 0;
    border-collapse: collapse;
    padding: 5px;
    outline: solid;
}

.delivery-table td {
    padding: 10px;
}

.outgoing-truck {
    transform: scaleX(-1);
}

.site-name {
    margin-bottom: 3px;
    font-size: 1.05em;
}

.city-name {
    font-weight: bold;
    font-style: italic;
}

