html {
    padding: 15px;
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
}

dt {
    grid-column-start: 1;
    margin: 5px;
}

dd {
    grid-column-start: 2;
    margin: 5px;
}

.back-link {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 0.9em;
}

.mapouter {
    position: relative;
    text-align: right;
    width: 500px;
    height: 300px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 500px;
    height: 300px;
}

.gmap_iframe {
    width: 500px !important;
    height: 300px !important;
}

@media only screen and (max-width:632px) {
    .gmap_canvas {
        width: 500px;
        height: 300px;
    }

    .gmap_iframe {
        width: 500px !important;
        height: 300px !important;
    }
}

.detail-value {
    font-weight: bold;
}

.edit-link {
    font-size: 0.8em;
}

table.needs-matching tr {
    border: solid 1px gray;
    border-spacing: 0;
    border-collapse: collapse;
    padding: 3px;
    outline: solid;
}

.wider-column {
    width: 200px;
}