html {
    /*padding: 15px;*/
}

.mission-statement {
    width: 700px;
}

h2 {
    margin-left: 30px;
    margin-top: 2rem;
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
}

dt {
    grid-column-start: 1;
    margin: 5px;
}

dd {
    grid-column-start: 2;
    margin: 5px;
}

.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 300px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 300px;
}

.gmap_iframe {
    width: 100% !important;
    height: 300px !important;
}

@media only screen and (max-width: 632px) {
    dl {
        grid-template-columns: 2fr 1fr;
    }
}

.detail-value {
    font-weight: bold;
}

.edit-link {
    font-size: 0.8em;
}

.wider-column {
    width: 200px;
}

.small-right-margin {
    margin-right: 5px;
}

.table-container {
    width: 100%;
    overflow-y: auto;
    max-height: 80vh;
    overflow-x: auto;
}

.inventory-table th,
.inventory-table td,
table.needs-matching th,
table.needs-matching td,
.delivery-table th,
.delivery-table td {
    border: solid 1px gray;
    border-spacing: 0;
    border-collapse: collapse;
    /*padding: 5px;*/
    outline: solid;
}

table td {
    padding: 10px;
}

.delivery-table td {
    padding: 10px;
}

.outgoing-truck {
    transform: scaleX(-1);
}

#site-name {
    margin-bottom: 3px;
    font-size: xx-large;
}

#site-hours {
    width: 100%;
}

#site-address {
    text-align: start;
    width: 100%;
    margin: 1rem .5rem 1rem .5rem;
    font-size: x-large
}

.city-name {
    font-weight: bold;
    font-style: italic;
}

.inventory-column {
    vertical-align: top;
}

.center {
    text-align: center;
}

.site-title {
    vertical-align: top;
    text-align: center;
}

.padded {
    padding: 10px;
}

.align-top {
    align-content: baseline;
}

.content-container {
    margin-left: 30px;
}

#matched-sites {
    gap: 1rem;
    max-height: 85vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.matched-site {
    background-color: #f5f5f5;
    width: 100%;
    border: solid #111;
    border-radius: 20px;
    padding: 20px;
}

.matched-site-info {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.matched-site-map {
    flex: 2;
}

.matched-site-items {
    flex: 1;
}

.items-list {
    max-height: calc(300px - 1rem);
    margin-top: 5px;
    overflow: auto;
    padding-inline-start: 30px;
}

#inventory-filter {
    background-color: #f5f5f5;
    flex-direction: row;
    border-radius: 0px;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

#site-inventory {
    align-items: start;
    overflow: hidden;
    padding: 10px 1rem 10px 1rem;
}

.site-items-container {
   max-height: 80vh;
   display: flex;
   flex-direction: column;
   width: 100%;
}

.site-items-container ul {
    flex-grow: 1;
    overflow-y: auto;
    margin-top: 0px;
    background-color: #f5f5f5;
}

.site-items-container h3 {
    margin-bottom: .5rem;
}


.site-items-container li {
    margin: .5rem 0px 0px 0px;
}

.items-section-header {
    font-size: 30px;
    margin-top: .5rem;
    margin-bottom: .25rem;
    border-bottom: 1px solid black;
    width: 90%;
}

.socials-container {
    display: flex;
    gap: 1rem;
    margin-top: .5rem;
}

.hidden {
    display: none;
}

.header-subtext {
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px
}

@media only screen and (max-width: 768px) {
    .mission-statement {
        width: 80%;
    }

    .matched-site-info {
        flex-direction: column;

    }

    #inventory-filter {
        flex-direction: column;
        align-items: start;
    }

    h2 {
        margin-left: 20px;
    }

    .header-subtext {
        margin-left: 20px;
    }


    #site-name {
        font-size: x-large;
    }

    #site-address {
        font-size: larger
    }


}

@media only screen and (max-width: 480px) {
    .mission-statement {
        width: 100%;
    }

    #site-name {
        font-size: larger;
    }

    #site-address {
        font-size: large
    }
}