html {
    padding: 15px;
}

dl {
    display: grid;
    grid-template-columns: max-content auto;
}

dt {
    grid-column-start: 1;
    margin: 5px;
}

dd {
    grid-column-start: 2;
    margin: 5px;
}

.back-link {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 0.9em;
}

.mapouter {
    position: relative;
    text-align: right;
    width: 600px;
    height: 500px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 600px;
    height: 500px;
}

.gmap_iframe {
    width: 600px !important;
    height: 500px !important;
}

@media only screen and (max-width:632px) {
    .gmap_canvas {
        width: 400px;
        height: 400px;
    }

    .gmap_iframe {
        width: 400px !important;
        height: 400px !important;
    }
}
