
select {
    max-width: 150px;
}

.site-name {
    /*color: inherit;*/
}

.not-accepting-donations {
    font-size: 0.9em;
    font-style: italic;
    color: #960808;
}

.box {
    border: 1px solid black;
    padding: 3px;
    margin: 3px;
}

.selection-list {
    height: 125px;
    overflow-y: scroll;
}

/** When items are selected, they show up in a box underneath the selection list. */
.selection-box {
    margin-bottom: 7px;

}
.selected-value {
    font-weight: bold;
}

table.filters-table {
    /*min-width: 600px;*/
}

table.filters-table tbody {
    vertical-align: top;
}

table.results-table {
    padding: 10px;
    position: sticky;
    left: 0;
    width: 700px;
}

table.results-table tbody {
    vertical-align: top;
}

table.results-table td {
    padding: 15px;
}

table.results-table thead th {
    background-color: #777;
    color: #EEE;
    padding: 8px;
}

table.results-table tbody tr:nth-child(odd) {
    background-color: #EEE;
}

table.results-table tbody tr:nth-child(even) {
    background-color: #DDD;
}

.error-div {
    width: 100%;
    font-weight: bold;
    color: #b60808;
}

/*
   Holder container for the update button and a loading indicator popup div.
 */
#parent-div {
    position: relative;
}

.update-button {
    width: 100px;
    height: 30px;
}

/*
   Shows a loading indicator that is placed on top of the 'update' button.
   Shown after 'update' button is clicked. The loading indicator is a 'div'
   with background image, we place it on top of the 'update' button exactly
   to make it look like we changed the background of the update button.
*/
#loader-div {
    width: 25px;
    height: 25px;
    background-size: contain;
    background-image: url(loading-spinner.png);
    position: relative;
    top: 0px;
    left: 40px;
    z-index: 10;
    background-repeat: no-repeat;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: none;
    animation-play-state: paused;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.selection-td {
    height: 50px;
}

.toggle-all-button {
    margin-top: 10px;
    height: 25px;
}

#site-detail-instruction-text {
    font-size: 0.9em;
    font-style: italic;
}

.supply-hub {
    font-size: 0.9em;
    font-style: italic;
}

.downloadDiv {
    margin-left: 360px;
}

.inventoryLastUpdatedColumn {
    width: 125px;
}
