select {
    max-width: 150px;
}

.not-accepting-donations {
    font-size: 0.9em;
    font-style: italic;
    color: #960808;
}

/* The 'box' is rendered around selected values. */
.box {
    border: 1px solid black;
    padding: 3px;
    margin: 3px;
}

.selection-list {
    height: 125px;
    overflow-y: scroll;
}

table.filters-table {
    min-width: 600px;

}

table.filters-table tbody {
    vertical-align: top;
}

table.results-table {
    padding: 10px;
    position: sticky;
    left: 0;
    width: 500px;
}

table.results-table tbody {
    vertical-align: top;
}

td {
    padding: 5px;
}

table.results-table thead th {
    background-color: #777;
    color: #EEE;
    padding: 8px;
}

table.results-table tbody tr:nth-child(odd) {
    background-color: #EEE;
    color: #222;
}

table.results-table tbody tr:nth-child(even) {
    background-color: #DDD;
    color: #222;
}

.urgent {
    font-weight: bold;
    color: #b60808;
}

.oversupply {
    font-weight: bold;
    font-style: italic;
    color: #0808b6;
}

.requested {

}

.error-div {
    width: 100%;
    font-weight: bold;
    color: #b60808;
}

