

#requiredText {
    margin-top: 10px;
    margin-left: 5px;
}

#saveButton {
    margin-top: 15px;
    margin-left: 10px;
    width: 150px;
}

.data-field {
    margin: 10px;
    width: 150px;
}

.missingData {
    background-color: lightcoral;
}

#saveSiteConfirmationDiv {
    margin-top: 15px;
}

.errorMessage {
    color: #b60808;
    font-style: italic;
}