

#requiredText {
    margin-top: 10px;
    margin-left: 5px;
}

#saveButton {
    margin-top: 15px;
    margin-left: 10px;
    width: 150px;
}

.data-field {
    margin-bottom: 5px;
    width: 150px;
}

#saveSiteConfirmationDiv {
    margin-top: 15px;
}

div.data-field label {
    font-weight: bold;
}

.checkbox-option {
    width: 200px;
    margin-bottom: 5px;
}
