body {
    margin: 3px;
}

.delivery-title {
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
    max-width: 380px;
}

.page-section {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 1.1em;
}

.page-subsection {
    margin: 3px;
    padding: 5px;
    background-color: #DDD;
    border: solid #111;
    border-radius: 20px;
}

.left-column {
    margin-right: 10px;
}

.narrow-sub-section {
    width: 165px;
    text-align: center;
}

.large-section-header {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    margin-bottom: 5px;
    font-family: sans-serif;
}


.sub-section-header {
    margin-top: 10px;
    margin-bottom: 3px;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

pre {
    font-family: serif;
}

.confirmation-header {
    margin-bottom: 2px;
    margin-top: 10px;
    font-size: 1.1em;
}

.confirm-buttons {
    align-content: space-between;
    align-items: center;
    margin: 7px;
}

.confirm-buttons div{
    margin-left: 30px;
}

.confirm-button,
.decline-button {
    width: 150px;
    height: 50px;
    border: 3px outset !important;
    font-weight: bold;
    padding: 5px;
}

.confirm-button {
    background-color: lightgreen !important;
}

.confirm-button:active {
    background-color: green !important;
}

.decline-button {
    background-color: pink !important;
}

.decline-button:active {
    background-color: red !important;
}

.confirmations-table {
    border-collapse: collapse;
    width: 95%;
}

.confirmations-table th,
.confirmations-table td {
    border: solid 2px darkgray;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

.confirmations-table td {
    text-align: center;
    font-size: 1.4em;
}

.meta-info-div {
    align-items: center;
}

.confirm-message {
    font-style: italic;
    font-size: 1.0em;
    color: green;
}

.unable-to-confirm-message {
    font-style: italic;
    font-size: 1.0em;
    color: red;
}

.confirmation-checkbox-row {
    height: 33px;
}
