body {
    margin: 3px;
}

.logo-image {
    margin-right: 3px;
}

.delivery-title {
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content-wrapper {
  /*width: 380px;*/
  /*  min-width: 360px;*/
    /*max-width: 100%*/
    /*width: 100vh;*/
    max-width: 380px;
}


.page-section {
    margin-bottom: 5px;
    margin-top: 5px;
    /*background-color: #F0F0F0;*/
    /*border: solid #111;*/
    /*border-radius: 20px;*/
    font-size: 1.1em;
    /*max-width: 500px;*/
}

.page-subsection {
    margin: 3px;
    padding: 5px;
    background-color: #DDD;
    border: solid #111;
    border-radius: 20px;
    /*font-size: 1.1em;*/
}


.left-column {
    margin-right: 10px;
}

.narrow-sub-section {
    width: 165px;
    text-align: center;
}

.large-section-header {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    margin-bottom: 5px;
    font-family: sans-serif;
}


.sub-section-header {
    margin-top: 10px;
    margin-bottom: 3px;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

pre {
    font-family: serif;
}
