/* Style sheet common to all pages. */
*{
  box-sizing: border-box;
}

body {
    padding: .5rem;
}

html, table {
    background-color: #F5F5F5;
    color: #333;
}

.scroll-to-top-btn {
  position: fixed;
  bottom: 3rem;
  right: 1rem;
  background-color: white;
  height: 3rem;
  width: 3rem;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid black;
  box-shadow: none;
  opacity: 50%;
}

button {
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    border-radius: 7px;
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;
}

.no-text-deco {
    text-decoration: none;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex-gap-3 {
    gap: 3px;
}

.flex-gap-10 {
    gap: 10px;
}

.flex-gap-20 {
    gap: 20px;
}

.justify-between{
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.header {
    width: 100%;
}

.link-home {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}

.urgent {
    font-weight: bold;
    color: #F11;
}

.needed {
    color: #805
}

.available {
    color: darkgreen;
}

.oversupply {
    font-weight: bold;
    font-style: italic;
    color: #0808b6;
}

.larger {
    font-size: 1.2em;
}

.nav-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
}

.nav-button-container {
    width: max-content;
    margin-top: 5px;
    margin-bottom: 20px;
}

.wide-button {
    width: 325px;
    text-align: center;
}

.nav-button {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    /*text-align: left;*/
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: normal;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.green-check {
    color: green;
    /*font-size: 1.3em;*/
    font-weight: bold;
    padding-left: 5px;
    padding-right: 10px;
}

.hidden {
    display: none;
}

.bold {
    font-weight: bold;
}

.font-large {
    font-size: large;
}

.italic {
    font-style: italic;
}

.errorMessage {
    color: #b60808;
    font-style: italic;
}

.required {
    color: #b60808;
    font-style: italic;
    font-size: 0.8em;
}

.privately-visible {
    color: #A07000;
    font-style: italic;
    font-size: 0.9em;
}

.login-indicator {
    font-style: italic;
    font-size: 0.8em;
    margin-left: 100px;
    margin-top: 10px;
}

.mission-statement {
    padding: 10px;
    margin: 30px;
    background-color: #E0E0E0;
    border: solid #111;
    border-radius: 20px;
    font-size: 1.1em;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container {
    background-color: #E0E0E0;
    padding: 10px;
    border: solid #111;
    border-radius: 20px;
    font-size: 1.1em;
    width: 500px;
    margin: 30px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.danger-fields {
    border: 1px solid red;
}

.text-center {
    text-align: center;
}

.text-md {
    font-size: 1.25rem;
}

.text-lg {
    font-size: 1.5rem;
}

.text-align-end {
    text-align: end;
}

.text-align-start {
    text-align: start;
}

.bold {
  font-weight: 900;
}

.m-0 {
  margin: 0px;
}

.m-1 {
  margin: 10px;
}

.mt-5 {
  margin-top: 5px;
}

.margin-top-10 {
  margin-top: 10px;
}

.p-1 {
  padding: 10px;
}

.p-2 {
  padding: 20px;
}


.w-full {
  width: 100%;
}

.w-75 {
  width: 75%;
}



.h-10 {
    height: 10rem;
}

.h-15 {
    height: 15rem;
}

.h-20 {
    height: 20rem;
}

.scroll-y {
    overflow-y: auto;
}

.overflow-auto {
    overflow: auto;
}

.items-center {
  justify-items: center;
  align-items: center;
}

.gap-1 {
  gap: 1rem;
}

.gap-half {
  gap: .5rem;
}

.logout {
    width: 100px;
    margin-left: 15px;
    margin-top: 5px;
    text-align: end;
}

h1 {
    margin-top: 3px;
    margin-bottom: 3px;
    display: flex;
    font-size: 1.8em;
}

.logo-image {
    margin-right: 8px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 50px;
}

h1, h2, h3, h4 {
    font-family: sans-serif;
}

.back-link {
    margin-top: 3px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 0.9em;
}

.confirm-message {
    font-style: italic;
    font-size: 0.95em;
    color: green;
}

.missingData {
    background-color: lightcoral;
}

.page-title-sub-header {
    font-size: 1.3em;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 15px;
}

.page-sub-header {
    margin-top: 3px;
    margin-bottom: 3px;
}

.margin-left-50 {
    margin-left: 50px;
}

.margin-left-30 {
    margin-left: 30px;
}

@media only screen and (max-width: 768px) {
    .margin-left-50 {
        margin-left: 0px;
    }

    .mobile-margin-left-10 {
        margin-left: 10px;
    }

    .nav-buttons-container {
        align-items: center;
    }

    .wide-button {
        width: 300px;
    }

    .mission-statement {
        margin: 10px;
        width: 80%;
    }

    .content-container {
        margin: 10px;
        width: 100%;
    }

}

@media only screen and (max-width: 480px) {
    .wide-button {
        width: 250px;
    }


    .mission-statement {
        width: 100%;
    }
}


