.disabled {
  font-style: italic;
  color: gray;
}

.update-confirm-div {
  display: none;
  font-style: italic;
  font-size: 0.95em;
}

.table-title {
  text-align: left;
}

.inventoryTable {
  width: 100%;
  table-layout: fixed;
}

.inventoryTable th:nth-child(1) {
  width: 10%;
}

.inventoryTable th:nth-child(2) {
  width: 35%;
}

.inventoryTable th:nth-child(3) {
  width: 65%;
}

tbody#inventoryTableBody tr {
  outline: solid black thin;
}

tbody#inventoryTableBody td {
  vertical-align: top;
}

#error-div {
  z-index: 99;
  position: sticky;
  width: 100%;
  height: 100px;
  border: 1px solid red;
  color: #FCFCFD;
  background: #A33;
  padding-right: 10px;
  display: none;
  top: 0px;
}

#addItemResult {
  color: red;
}

.inventoryLabel {
  font-size: 1.4em;
}

.item-status-div {
  margin-bottom: 5px;
  font-size: 1.2em;
}

#newItemTable {
  width: 100%;
  table-layout: fixed;
}

.newItemTable th:nth-child(1) {
  width: 10%;
}

.newItemTable th:nth-child(2) {
  width: 35%;
}

.newItemTable th:nth-child(3) {
  width: 65%;
}

#add-item-button {
  width: 130px;
  font-size: 1.1em;
}

.new-item-status-div {
  font-size: 1.1em;
}

table.inventoryTable td {
  padding: 5px;
}

.hidden {
  display: "none"
}

.content-container {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.filter-title {
  font-size: larger;
  font-weight: 900;
}

#filter-text-input {
  margin-top: .5rem;
  margin-bottom: 1rem;
}

#item-tags-container {
  max-height: 200px; 
  border:1px solid gray; 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  margin-top: .5rem;
  margin-bottom: 1rem;
}

.item-tag {
  font-size: smaller;
  width: max-content;
  height: max-content;
  padding: .30rem;
}

.item-tag-inner {
  background-color: aquamarine;
  padding: .25rem .5rem;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 2px 2px 5px gray;
  border: 1px solid gray;
}

.tag-selected {
  box-shadow: inset 2px 2px 5px gray;
}

@media only screen and (max-width: 632px) {
  .content-container {
    width: 90%;
  }

  #item-tags-container {
    max-height: 100px;
  }
}