.disabled {
  font-style: italic;
  color: gray;
}

.update-confirm-div {
  display: none;
  font-style: italic;
  font-size: 0.95em;
}

.scroll-to-top-btn {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  background-color: white;
  height: 3rem;
  width: 3rem;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 2rem;
  cursor: pointer;
  border: 2px solid black;
  box-shadow: none;
  opacity: 50%;
}

.opacity-full {
  opacity: 100%;
}

.table-title {
  text-align: left;
}

.inventoryTable {
  width: 100%;
  table-layout: fixed;
}

.inventoryTable th:nth-child(1) {
  width: 30px;
}

tbody#inventoryTableBody tr {
  outline: solid black thin;
}

tbody#inventoryTableBody td {
  vertical-align: top;
}

#error-div {
  z-index: 99;
  position: sticky;
  width: 100%;
  height: 100px;
  border: 1px solid red;
  color: #FCFCFD;
  background: #A33;
  padding-right: 10px;
  display: none;
  top: 0px;
}

#addItemResult {
  color: red;
}

.inventoryLabel {
  font-size: 1.4em;
}

.item-status-fieldset {
  width: 100%;
}

.item-status-div {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

#newItemForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.new-item-form-label {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: .5rem;
}

.add-item-button-container {
  display: flex;
  flex-direction: row-reverse;
}

#add-item-button {
  width: 130px;
  font-size: 1.1rem;
}

.new-item-status-div {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
}

table.inventoryTable td {
  padding: 5px;
}

.hidden {
  display: none;
}

.content-container {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.filter-title {
  font-size: larger;
  font-weight: 900;
}

#filter-text-input {
  margin-top: .5rem;
  margin-bottom: 1rem;
}

#item-tags-container {
  max-height: 200px; 
  border:1px solid gray; 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  margin-top: .5rem;
  margin-bottom: 1rem;
}

.item-tag {
  font-size: smaller;
  width: max-content;
  height: max-content;
  padding: .2rem;
}

.item-tag-inner {
  background-color: aquamarine;
  padding: .25rem .5rem;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 2px 2px 5px gray;
  border: 1px solid gray;
}

.tag-selected {
  box-shadow: inset 2px 2px 5px gray;
}

@media only screen and (max-width: 632px) {
  .content-container {
    width: 100%;
    margin-left: 0px;
  }

  #item-tags-container {
    max-height: 100px;
  }

  .inventoryLabel {
    font-size: 1em;
  }

  .item-status-div {
    font-size: 1em;
  }

  #add-item-button {
    font-size: 1rem;
  }
}